.timeline {
  padding-left: 20px;
  position: relative;
  width: 100%;
}
.timeline::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 5px;
  width: 2px;
  background-color: hsl(198, 20%, 67%);
}
.timeline .content {
  color: hsl(199, 20%, 31%);
  border-bottom: dashed 1px hsl(198, 20%, 67%);
  padding-bottom: 10px;
  padding-left: 5px;
  opacity: 0.6;
}
.timeline .content .time {
  color: hsl(196, 20%, 15%);
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 5px;
  margin-top: 5px;
  font-weight: 600;
}
.timeline .content .status,
.timeline .content .number {
  font-size: 12px;
}
.timeline .circle {
  position: absolute;
  top: -4px;
  left: -4px;
  width: 20px;
  height: 20px;
  background-color: hsl(198, 20%, 67%);
  border-radius: 10px;
  border: solid 1px hsl(0, 0%, 100%);
}
.timeline.active .content {
  opacity: 1;
}
.timeline.active .content .time {
  margin-top: 0;
}
.timeline.active .circle {
  background-color: hsl(199, 100%, 50%);
  top: 0;
}
.timeline.active .circle::before {
  content: '';
  position: absolute;
  left: 1px;
  top: 1px;
  width: 18px;
  height: 18px;
  border-radius: 10px;
  border: solid 1px hsl(0, 0%, 100%);
}

.time-line-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 20px;
}
.time-line-container .time-line-node {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 180px;
}
.time-line-container .time-line-node.ready {
  color: hsl(99, 85%, 42%);
}
.time-line-container .time-line-node.left-of-current-state {
  color: hsl(99, 85%, 42%);
}
.time-line-container .time-line-node.current-end {
  color: hsl(199, 100%, 50%);
}
.time-line-container .time-line-node.current {
  color: hsl(199, 100%, 50%);
}
.time-line-container .time-line-node.un-ready {
  color: hsl(198, 20%, 67%);
}
.time-line-container .time-line-node.end {
  color: hsl(198, 20%, 67%);
}
.time-line-container .time-line-node .circle {
  width: 20px;
  height: 20px;
  border-radius: 20px;
}
.time-line-container .time-line-node .circle .circle-after {
  content: '';
  position: absolute;
  top: 10px;
  bottom: 0;
  left: 100px;
  width: 160px;
  height: 2px;
}
.time-line-container .time-line-node .circle.ready {
  background-color: hsl(99, 85%, 42%);
}
.time-line-container .time-line-node .circle.ready::after {
  content: '';
  position: absolute;
  top: 10px;
  bottom: 0;
  left: 100px;
  width: 160px;
  height: 2px;
  background-color: hsl(99, 85%, 42%);
}
.time-line-container .time-line-node .circle.left-of-current-state {
  background-color: hsl(99, 85%, 42%);
}
.time-line-container .time-line-node .circle.left-of-current-state::after {
  content: '';
  position: absolute;
  top: 10px;
  bottom: 0;
  left: 100px;
  width: 160px;
  height: 2px;
  width: 157px;
  background-color: hsl(99, 85%, 42%);
}
.time-line-container .time-line-node .circle.current-end {
  background-color: hsl(199, 100%, 50%);
}
.time-line-container .time-line-node .circle.current {
  background-color: hsl(199, 100%, 50%);
}
.time-line-container .time-line-node .circle.current::after {
  content: '';
  position: absolute;
  top: 10px;
  bottom: 0;
  left: 100px;
  width: 160px;
  height: 2px;
  background-color: hsl(198, 20%, 67%);
}
.time-line-container .time-line-node .circle.un-ready {
  background-color: hsl(198, 20%, 67%);
}
.time-line-container .time-line-node .circle.un-ready::after {
  content: '';
  position: absolute;
  top: 10px;
  bottom: 0;
  left: 100px;
  width: 160px;
  height: 2px;
  background-color: hsl(198, 20%, 67%);
}
.time-line-container .time-line-node .circle.end {
  background-color: hsl(198, 20%, 67%);
}
.time-line-container .time-line-node .out-circle {
  width: 26px;
  height: 26px;
  border-radius: 26px;
  background-color: transparent;
  border: hsl(199, 100%, 50%) 1px solid;
  margin-top: -23px;
  margin-left: -3px;
}

